@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,800";
@import "reset";
@import "variable";
@import "font";

body {
  font-family: 'Open Sans', sans-serif;
  background: $primary-color;
  color: $body-text-color;
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

.app-layout {
  max-width: 1000px;
  margin: 0 auto;

  @media(min-width: $screen-md) {
    padding: 100px 50px 50px 50px;
  }
}

.app-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0 0 0;
  .app-header {
    padding-bottom: 30px;
    text-align: center;
    .app-site-info {
      color: #FFFFFF;
      h1 {
        margin: 0;
        padding: 0;
        font-size: 60px;
        font-weight: 800;

      }
      .site-title {
        margin: 20px 0 0 0;
        padding: 0;
        font-size: 50px;
        font-weight: 300;
        color: rgba(255, 255, 255, .9);
        @media (max-width: $screen-sm) {
          display: none;
        }
      }
      .site-slogan {
        @media (max-width: $screen-sm) {
          display: none;
        }
        margin-top: 5px;
        padding: 0;
        font-size: 30px;
        font-weight: 300;
        color: rgba(255, 255, 255, .6);
      }
    }

  }
  .app-content {

  }

  @media (min-width: $screen-md) {
    .app-header {
      float: left;
      padding-top: 100px;
      text-align: left;
    }
    .app-content {
      float: right;
    }
  }
}

.app-card {
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  @media (min-width: $screen-sm) {
    width: 350px;
  }
  .app-card-header {
    background: rgba(243, 247, 255, 1);
    .app-card-header-inner {
      padding: 10px 20px;
    }
  }
  .app-card-content {
    .app-card-content-inner {
      padding: 20px;
    }
  }
  &.app-card-uploading{
    .app-card-content {
      .app-card-content-inner {
        padding: 40px;
      }
    }
  }
}

.app-file-select-zone {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0 0 0;
  label {
    display: block;
    width: 100%;
    input {
      position: fixed;
      top: -9999px;
    }
  }
  .app-upload-description {
    font-size: 12px;
    display: block;
  }
  .app-upload-icon {
    display: inline-block;
    margin-bottom: 10px;
    width: 60px;
    height: 30px;
    border: 1px dashed $body-text-color;
    position: relative;
    i{
      position: absolute;
      left: 10px;
      top: -10px;
      background: #f3f7ff;
      font-size: 28px;
    }
  }
  &.error{
    .app-upload-icon{
      border-color: $danger-color;
    }
  }
}

.app-form-item {
  margin: 0 0 15px 0;
  label {
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    margin: 0 0 8px 0;
  }
  input[type='text'], textarea {
    width: 100%;
    border: 1px solid rgba(224, 224, 224, 1);
    outline: 0 none;
    padding: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    &:focus, :active {
      outline: 0 none;
    }
  }
  textarea {
    min-height: 50px;
  }
  &.error{
    input{
      color: $danger-color;
    }
  }
}

.app-form-actions {
  .app-button {
    width: 100%;
    text-align: center;
    display: block;
    font-weight: 800;
    color: $primary-color;
    border: 1px solid $primary-color;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    &.primary{
      background: $primary-color;
      color: #FFFFFF;
    }
  }
}
.app-files-selected{
  max-height: 150px;
  position: relative;
  overflow-y: auto;
  background: #FFFFFF;
  position: relative;
  margin: -20px -20px 0 -20px;
  padding: 20px;
  .app-files-selected-item{
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.09);
    padding: 10px 0;
    .filename{
      flex-grow: 1;
    }
    .file-action{

    }
  }
  .app-file-remove{
    border: 0 none;
    padding: 3px;
    font-size: 14px;
    font-weight: 300;
    background: none;
  }
}
.text-uppercase{
  text-transform: uppercase;
}
.error{
  color: $danger-color;
}
.app-home-uploading-icon{
  display: block;
  text-align: center;
  i{
    font-size: 60px;
    display: inline-block;
    border: 1px solid $body-text-color;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
  }
  h2{
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 17px;
  }
}
.app-upload-files-total{
  margin-top: 20px;
}
.app-upload-stats{

  display: flex;
  flex-direction: row;
  .app-upload-stats-left{
    flex-grow: 1;
  }
  .app-upload-stats-right{

  }
}
.app-progress{
  background: rgba(241,248,254,1);
  border: 1px solid rgba(178,216,248,1);
  height: 15px;
  line-height: 15px;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  position: relative;
  overflow: hidden;
  .app-progress-bar{
    display: block;
    position: absolute;
    left: 0;
    top: 0px;
    height: 15px;
    line-height: 15px;
    background: $primary-color;
  }
}
.app-upload-cancel-button{
  margin-top: 50px;
}